.themes-title {
  color: #222222;
}

.grid-themes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 25px;
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .grid-themes {
    column-gap: 10px;
    row-gap: 5px;
  }
}

@media screen and (max-width: 640px) {
  .grid-themes {
    column-gap: 20px;
    row-gap: 15px;
  }

  .grid-themes > article {
    grid-column: span 6;
  }
}