.favory-container {
  margin-bottom: 140px;
  min-height: 55vh;
}

.favory-container h1 {
  font-size: 1.9rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
}



@media  screen and (max-width: 1000px) {
  .favory-container h1 {
    font-size: 1.7rem;
  }
}

@media  screen and (max-width: 640px) {
  .favory-container {
    margin-top: -30px;
  }

  .favory-container h1 {
    font-size: 1.5rem;
  }
  
}