.layout {
  min-height: 100vh;
  position: relative;
}

.container {
  padding: 110px 240px 50px 240px;
}

.bg-hide {
  position: fixed;
  background-color: rgba(59, 59, 59, 0.597);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

@media screen and (min-width: 1280px) and (max-width: 1536px) {
  .container {
    padding: 110px 180px 50px 180px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1370px) {
  .container {
    padding: 110px 160px 50px 160px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .container {
    padding: 110px 110px 50px 110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 110px 80px 50px 80px;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .container {
    padding: 110px 50px 50px 50px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 120px 20px 50px 20px;
  }
}

