.search-form {
  display: flex;
  height: 57px;
  width: 100%;
}

.search-form > * {
  flex: 2;
}

.search-form > *:last-child {
  flex: 0.9;
}

.search-form > *:nth-child(3) {
  flex: 1.1;
}


.btn-search {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 15px;
  color: #FDFDFF;
  font-weight: 600;
  font-size: large;
  background-color: #5200FF;
  position: relative;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #4904dd;
}

@media screen and (max-width: 970px) {
  .search-form {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .btn-search {
    padding: 15px 17px 15px 30px;
    width: 100%;
  }
}