.btn-header-s {
  padding: 6.2px 8px 5px 8px;
  border: 1px solid rgba(128, 128, 128, 0.327);
  color: rgba(59, 59, 60, 0.976);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}