.nav-bar {
  position: fixed;
  right:0;
  top:0;
  bottom:0;
  width: 300px;
  background-color: #FDFDFF;
  z-index: 40;
}

.off-line {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.off-line p {
  font-size: 1.05rem;
  text-align: start;
  margin-left: 32px;
  color: rgba(59, 59, 60, 0.762);
}

.nav-list {
  margin-top: 110px;
}

.nav-list li:first-child {
  margin-top: 0;
  margin: 30px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(32, 32, 32, 0.322);
  margin-right: 35px;
}

li {
  list-style: none;
  
}

.nav-list li:nth-child(n+2) {
  margin: 30px 0 30px 0;
}

.nav-link {
  display: flex;
  align-items: center;
  list-style: none;
  height: 20px;
  text-decoration: none;
  color: rgba(32, 32, 32, 0.762);
}

.logout-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  list-style: none;
  height: 20px;
  text-decoration: none;
  color: rgba(32, 32, 32, 0.762);
}

.nav-link:hover {
  color: #5200FF;
}

.logout-button:hover {
  color: #5200FF;
}

.nav-list svg {
  width: 25px;
  height: 25px;
}

.nav-list li span {
  margin-left: 15px;
  font-size: 1.2rem;
}