.program-container {
  margin-top: 50px;
  margin-bottom: 150px;
  min-width: 100%;
}

.program-container h1 {
  color: #222222;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
}
.button-container button:first-child {
  margin-right: 15px;
}

.program-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
} 

.program-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.program-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.program-infos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: #5B5B5B;
}

.info-geo-icon {
  width: 22px;
  height: 22px;
  margin-right: 12px;
}

.info-date-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.program-infos div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}