.save-button-small {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #5B5B5B;
}

.save-button-small-active {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1565C0;
}

.save-button-small-disable {
  cursor: not-allowed;
  color: #5b5b5bb0;
}

.save-icon-small {
  width: 25px;
  height: 25px;
}