.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
  min-height: 60vh;
}

.notfound-container h1 {
  font-size: 1.7rem;
}

.notfound-icon {
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
}