.btn-nav-toggle {
  position: absolute;
  top: -40px;
  right: 40px;
  border: none;
  background-color: transparent;
  margin: 10px 0px 0px 15px;
  cursor: pointer;
  z-index: 200;
}

@media screen and (max-width: 640px) {
  .btn-nav-toggle {
    right: 25px;
  }
}